<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cadastro de categoria</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Cadastro de categoria</h1>

    <form method="post" action="/categorias">
        <input type="hidden" name="id" th:value="${categoria?.id}" th:if="${categoria != null}">
        <input type="hidden" name="_method" value="put" th:if="${categoria != null}">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" name="nome" class="form-control" th:value="${categoria?.nome}">
        </div>

        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
</div>
</body>
</html>