<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista de Categorias</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Lista de categorias</h1>

    <a class="btn btn-primary" href="#" th:href="@{/categorias/nova}">Nova</a>

    <p class="bg-danger" th:if="${erro != null}" th:text="${erro}"></p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${categorias}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nome}"></td>
                <td>
                    <a th:href="@{/categorias/{id}(id=${c.id})}" class="btn btn-info">Editar</a>
                    <form class="d-inline" action="/categorias" method="post">
                        <input type="hidden" name="id" th:value="${c.id}">
                        <input type="hidden" name="_method" value="delete">

                        <button class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>