<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cadastro de produtos</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Cadastro de produto</h1>

    <form method="post" action="/produtos">
        <input type="hidden" name="id" th:value="${produto?.id}" th:if="${produto != null}">
        <input type="hidden" name="_method" value="put" th:if="${produto != null}">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" name="nome" class="form-control" th:value="${produto?.nome}" th:disabled="${produto != null}">
        </div>

        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
            <input id="preco" name="preco" class="form-control" th:value="${produto?.preco}">
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea id="descricao" name="descricao" class="form-control" th:text="${produto?.descricao}"></textarea>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="categoria" name="categoria" class="form-control">
                <option th:each="c : ${categorias}" th:text="${c.nome}" th:value="${c.id}" th:selected="${c.id == produto?.categoria?.id}"></option>
            </select>
        </div>

        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
</div>
</body>
</html>