<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista de produtos</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Lista de produtos</h1>

    <a class="btn btn-primary" href="#" th:href="@{/produtos/novo}">Novo</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>PREÇO</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${produtos}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nome}"></td>
                <td th:text="${p.preco}"></td>
                <td>
                    <a th:href="@{/produtos/{id}(id=${p.id})}" class="btn btn-info">Editar</a>
                    <form class="d-inline" action="/produtos" method="post">
                        <input type="hidden" name="id" th:value="${p.id}">
                        <input type="hidden" name="_method" value="delete">

                        <button class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>